@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-arrow {
  animation: slideRight 1s infinite;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}
